@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: "Roboto",sans-serif !important;
}

.todo-item{
    transition: opacity 0.5s ease-in-out;
}

.todo-title{
    word-break: break-all;
}

.completed {
    opacity: 0.5;
}

.completed .todo-title {
    text-decoration: line-through;
}
i{
    pointer-events: none;
}